*{
  margin:0;
  box-sizing: border-box;
}

footer {
  height:250px;

  .contatti {
    height:200px;
    display: flex;

    .footer_logo, .contatti_info {
      height:100%;
      width:25%;
    }
    .footer_logo {
      display:flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      img {
        width:100%;
      }
    }
    .contatti_info {
      display:flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .contatti_info:nth-child(4) {
      display: flex;
      flex-direction: row;

      .fab {
        margin:5px;
      }
    }
  }


  .footer_info {
    height:50px;
    background-color: $typical_blue;
    
    small {
      margin:0px 40px;
      color:white;
    }
  }
}
