nav {
  height:80px;
  font-family: 'Rubik', sans-serif;

  .logo {
    height:100%;
      a img {
        height:100%;
      }
  }
  ul li a {
    color:$typical_blue !important;
    margin-left: 50px;
    font-family: 'Rubik', sans-serif;
    font-weight:300;
    font-size: 105%;
  }
  .iscriviti {
    width:100px;
    background-color: #f47637;
    color:#FFF !important;
    border-radius: 2px;
    text-align: center;
    &:hover {
      opacity: 0.8;
    }
  }
}
.voci-nav {
  padding-left: 23%;
}
