// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

* {
  margin:0;
  box-sizing: border-box;
  font-family: sans-serif;
}
// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '_common.scss';
@import '_homepage';
@import '_header';
@import '_body';
@import '_corso';
@import '_privacypolicy';
@import '_footer';
@import '_faq';
